// Fonts
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

$roboto: 'Montserrat';
$san-serif: sans-serif;

// Fonts size 
$xlg-fs: 64px;
$lg-fs: 32px;
$md-fs: 18px;
$sm-fs: 16px;

// Colors
$color-white: #FFFFFF;
$color-white-light: #C4C4C4;
$color-black: #212529;
$color-black-light: #151515;
$color-gray: #767676;
$nav-color: #343A40;
$color-green: #4C9217;
$color-yellow: #F6EE33;

