.header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,.3);
    background-blend-mode: overlay;
    height: 85vh;
}

.header__container {
    margin-top: 50px;

    .stores {
        width: 40px;
        height: 40px;
        background-color: white;
    }

}